doctype html
html
    head
        title ChitChatter2000
        link(rel='stylesheet', href='/css/style.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        h1 404 Not Found
        |
        h2 Nothing to see here
