doctype html
html
    head
        title ChitChatter2000
        |
        link(rel='stylesheet', href='/css/style.css')
    body
        h1 404 Not Found
        |
        h2 Nothing to see here
