<!doctype html>
<html>
    <head>
        <title>ChitChatter2000</title>
        <link rel="stylesheet" href="/css/style.min.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="/js/socket.js"></script>
    </head>
    <body>
        <div class="login" id="login">
            <form id="userForm">
                <div class="username">
                    <label>Enter Username</label>
                    <input class="form-control" id="username">
                    <br>
                    <input type="submit" class="btn btn-default" value="Login">
                </div>
            </form>
        </div>

        <div class="chat" id="chat">
            <div class="online-users">
                <div id="onlineHeader">
                    <h3>Online Users</h3><span class="online-count" id="onlineCount"></span>
                </div>
                <ul class="list-group" id="users"></ul>
            </div>
            <ul class="messages" id="messages"></ul>
            <form action="" id="messageForm">
                <input id="m" autocomplete="off"><button>Send</button>
            </form>
        </div>
    </body>
</html>
